<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Make index.php the default document -->
    <defaultDocument enabled="true">
      <files>
        <add value="index.php" />
        <add value="default.aspx" />
        <add value="index.html" />
        <add value="default.htm" />
        <add value="index.htm" />
      </files>
    </defaultDocument>

    <!-- Ensure PHP is handled by FastCGI if installed -->
    <handlers>
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\\php\\php-cgi.exe" resourceType="Either" requireAccess="Script" preCondition="bitness32" />
      <add name="PHP_via_FastCGI64" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\\php\\php-cgi.exe" resourceType="Either" requireAccess="Script" preCondition="bitness64" />
    </handlers>

    <!-- Optional: simple rewrite to route unknown paths to index.php (disable if not needed) -->
    <!--
    <rewrite>
      <rules>
        <rule name="RouteToIndex" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    -->
  </system.webServer>
</configuration>
